{{ define "main" }}

  <div class="post">
    <h1 class="post-title">{{ .Title | markdownify }}</h1>
    <div class="post-content">
      {{ .Content }}
    </div>
  </div>

  <div class="pagination">
    <div class="pagination__buttons">
      <span class="button previous">
        <a href=" {{ .Site.BaseURL }}{{ .Section }}/">
          <span class="button__icon">←</span>
          <span class="button__text">{{ .Section | humanize | pluralize }}</span>
        </a>
      </span>
    </div>
  </div>

{{ end }}
