{{ define "main" }}
  {{ $isntDefault := not (or (eq (trim $.Site.Params.contentTypeName " ") "posts") (eq (trim $.Site.Params.contentTypeName " ") "")) }}
  {{ $contentTypeName := cond $isntDefault (string $.Site.Params.contentTypeName) "posts" }}

	<div class="post">
		{{ if (not (isset .Site.Params "header")) | or (eq .Site.Params.header "") }}
		<h1 class="post-title">Homepage</h1>
		{{ else }}
		<h1 class="post-title">{{ .Site.Params.header }}</h1>
		{{ end }}

		<div class="post-content">
			{{ .Content }}
		</div>
	</div>

{{ end }}
